.blogColumn{
    float: left;
    width: 29%;
    margin-left: 2rem;
    margin-bottom: 1rem;
    background-image: url("https://freesvg.org/img/liftarn_Western_border.png");
    background-repeat: no-repeat;
  background-size: 300px 100px;
  padding-top: 1rem;
}

.blogRow{
    width: 100%;
    text-align: center;
}