.navBarDiv{
    padding-left: 15rem;
    width: 75%;
    position: relative;
}

.navBarLinks{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.3rem;;
    text-decoration: none;
    color: blue;
    display: inline-block;
    border-left: solid;
    border-right: solid;
    font-weight: bolder;
}

.navBarLogIn{
    float: right;
}

.logInButton{
    height: 4rem;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: blue;
    font-weight: bolder;
}