.responseBlog{
    margin-left: 25rem;
    color: white;
    float: center;
    background-color: black;
    width: 20rem;
    height: 14.87rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.blogPost{
    border: solid;
    border-color: white;

}

.respFormStyle{
    margin-left: 25rem;
}