.signUpDiv{
    padding-left: 32%;
    margin: 1px;
    /* width: 100%; */
}

.signUpStyle{
    text-align: center;
    padding-top: 1rem;
}

.labelStyle{
    margin-top: 1rem;
    color: white;
    font-weight: bold;
}

.inputStyle{
    width: 15rem;
}

.signUpButton{
    margin-top: 1rem;
    width: 5rem;
    font-weight: bold;
}

.errorSignUp{
    color: rgb(68, 35, 35);
    margin: 1px;
    /* float: right; */
}